NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_DATASET=""
NEXT_PUBLIC_SANITY_API_VERSION=""

SANITY_SEED_API_TOKEN=""
RESEND_API_KEY=""

NEXT_PUBLIC_SITE_URL=""

CONTACT_FROM_EMAIL=""

SANITY_REVALIDATE_SECRET=""

NEXT_PUBLIC_COOKIEBOT_ID=""
NEXT_PUBLIC_GTM_ID=""

SANITY_API_READ_TOKEN=""
NEXT_PUBLIC_SANITY_PREVIEW_SECRET=""
